---
BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BreakStringLiterals: false
SortIncludes:
  Enabled: true
  IgnoreCase: true
SortUsingDeclarations: Never
...
